<ion-header>
  <ion-toolbar>
    <ion-title>Special Payment Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

      <!-- <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime value="1995-04-15" min="1990-02" max="2000"
      [dayShortNames]="customDayShortNames"
      displayFormat="DDD. MMM DD, YY"
      monthShortNames="jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, des" [(ngModel) ="specialPayment.spaymentdate"] aria-placeholder="specialPayment.spaymentdate"></ion-datetime>
  </ion-item> -->
  <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime value="1995-04-15" min="2019-02" max="2020" [(ngModel)] = "specialPayment.spaymentdate" >
        
        </ion-datetime>
    
  </ion-item>

  <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime value="08:12 AM" displayFormat="h:mm A" minuteValues="0,15,30,45" [(ngModel)] = "specialPayment.spaymenttime"  > 
         
        </ion-datetime>
    
  </ion-item>

  
    

  
   
    <ion-item>
      <ion-input required type="text" placeholder="title" [(ngModel)] = "specialPayment.spaymenttitle"> </ion-input>
    </ion-item>

    <ion-item>
        <ion-input required type="text" placeholder="describtion" [(ngModel)] = "specialPayment.spaymentdec"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-input required type="number" placeholder="amount" [(ngModel)] = "specialPayment.spaymentAmount"> </ion-input>
      </ion-item>

      <ion-button expand="full" (click)="saveSpecialPayment()">Save Special Payment</ion-button>


  </ion-list>
</ion-content>
