ion-toolbar{
    --background	:#3B7FE5;
}

ion-fab-button{
    --background	:#3B7FE5;
}

ion-label{
    .amountlbl{
        align-content: flex-end;
        align-items: flex-end;
    }
}

ion-row {
    .title{
        align-items: center;
        -ms-ime-align: center;
    }
    
}

.titledesign{
 font-size: 100%;
 
 
 
}