 <ion-header> 
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>


    <ion-title>Smart Self Manager - Home</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content class="pageContent">
  
    <ion-row class="row1">
      <!-- row1 -->
        <ion-col class="col1">
            <!-- <ion-row class="row2"> -->
              <a class="item item-thumbnail-left" href="/record-income">
                <ion-row class="row2">
                <img src="../../assets/images/income3.jpg" height="200%" width="100%">                 
                </ion-row>
                
                <ion-row class="options" >Record Income</ion-row>
            
          
          </a>
        </ion-col>
        <ion-col class="col1">
            <a class="item item-thumbnail-left" href="/daily-payments">
            <ion-row class="row2">
              
                <img src="../../assets/images/dailypayments2.jpg" height="200%" width="100%">            
           
            </ion-row>
            <ion-row class="options" >Daily Payments</ion-row>
          </a>
        </ion-col>
    </ion-row>

    <ion-row class="row1">
      <!-- row2 -->
        <ion-col class="col1">
            <a class="item item-thumbnail-left" href="/special-payments">
            <ion-row class="row2">
             
                <img src="../../assets/images/specialpayments2.jpg" height="200%" width="100%" >            
            
            </ion-row>
            <ion-row class="options" >Special Payments</ion-row>
          </a>
        </ion-col>
        <ion-col class="col1">
            <a class="item item-thumbnail-left" href="/dashboard">
            <ion-row class="row2">
             
                <img src="../../assets/images/paymenthistory2.jpg" height="200%" width="100%">            
            
            </ion-row>
            <ion-row class="options" >Dash Board</ion-row>
          </a>
        </ion-col>
        
        
    </ion-row>
    <!-- row3 -->
    <ion-row class="row1">
        <ion-col class="col1">
            <a class="item item-thumbnail-left" href="/settings" height="200%" width="100%">
            <ion-row class="row2">
             
                <img src="../../assets/images/settings2.jpg" height="200%" width="100%">            
           
            </ion-row>
            <ion-row class="options"  >settings</ion-row>
          </a>
        </ion-col>
        <ion-col ></ion-col>
    </ion-row>
</ion-content>
